<table class="button-table" width="170" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="button-wrapper" width="170" valign="middle" height="40" bgcolor="#22056D" align="center">
                <a class="button-inner" target="_blank" href="#">
                    <span>{{ text }}</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>