// ===========================================================
// CONFIGURE YOUR VARIABLES
// ===========================================================

// Padding
$padding-content: 20px;

// Colors
$color-white: #FFFFFF;
$color-black: #000000;

// Fonts
$font-primary: 'Roboto','Arial','Helvetica',sans-serif;

