// ===========================================================
// RESPONSIVE
// ===========================================================

@media only screen and (max-width: 599px) {
    td[class="pattern"] table { width: 100%; }
    td[class="pattern"] .hero_image img {
        width: 100%;
        height: auto !important;
    }
}
@media only screen and (max-width: 450px) {
    td[class="pattern"] .spacer { display: none; }
    td[class="pattern"] .col{
        width: 100%;
        display: block;
    }
    td[class="pattern"] .col:first-child { margin-bottom: 30px; }
    td[class="pattern"] .hero_image img { width: 100%; }
}