---
layout: default.hbs
subject: Email layout 2 column
---
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ff0000">
    <tbody>
        <tr>
            <td>Email layout 2 column</td>
        </tr>
    </tbody>
</table>